body{
  font-size: 16px;
}
header{
  .item{
    .ui.button{
      //padding: 0;
    }
  }
}

.cart_sidebar{
  .item.labels{
    color: #f2711c !important;
     font-weight: bold;
  }
  .item.active{
    font-weight: bold;
  }
  .item{
    vertical-align: middle;
    .c_name{
      display: inline-block !important;
      width: 25%;
      text-align: center;
    }
    .c_amt{
      display: inline-block !important;
      width: 20%;
      text-align: center;
    }
    .c_edit{
      display: inline-block !important;
      width: 45%;
      text-align: center;
    }
  }
}

.hidden.menu {
  display: none;
}
.homepage_image{
  height: 100vh;
  background-image: url("../images/chicken1.jpg");
  background-position: center; 
  background-size: cover;
}
.masthead{
  padding: 0 !important;
  
  min-height: 500px;
  padding: 0.8em 0em;
  .logo.item img {
    margin-right: 1em;
  }
  .ui.menu .ui.button {
    margin-left: 0.5em;
  }
  h1.ui.header {
    margin-top: 0em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }
  h2 {
    font-size: 1.7em;
    font-weight: normal;
  }
  .add_to_cart{
    background-color: rgba(0,0,0,.3);
    // padding-bottom: 1rem !important;
    h3{
      margin: 1rem 0 !important;
    }
    .ui.dropdown{
      color: #000000;
    }
    .ui.segment{
      //background-color: inherit;
    }
  }
}


.ui.vertical.stripe {
  padding: 7em 0em;
  background-color: #ffffff;

  h3 {
    font-size: 2em;
  }  
  .button + h3, p + h3 {
    margin-top: 3em;
  }
  .floated.image {
    clear: both;
  }
  p {
    font-size: 1.33em;
  }
  .horizontal.divider {
    margin: 3em 0em;
  }

}

.product_list{
  .ui.card{
    margin: 0 auto; 
  }
}

.quote.stripe.segment {
  padding: 0em;

  .filter_bar{
    margin-bottom: 0px;
  }

  .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.login_form,.signup_form{
form{
  padding: 2rem;
}
}

.footer.segment {
  padding: 5em 0em;
}

.all_contacts {
  padding: 1rem 0;
  .cart_list{
  width: 100%;
  padding: 10px 0;
    .item{
      margin: 0;
    }
    .c_name{
      width: 25%;
    }
    .c_location{
      width: 25%;
    }
    .c_quantitiy{
      width: 25%;
    }
    .c_save{
      width: 20%;
      text-align: center;
    }
  }
}


///////////////////////////admin page/////////////////////////////////////////////////
#sidebar{
  width:11rem;
  display: inline-flex;
  #icon_tabs{
    margin: 0;
    background: #eaeaea;
    height: 100%;
    width: 100%;
    float: left;
    border:none;
    display: inline-block;
    .item{
      padding: 1em;
      color: #7a418f;

      .label{
        top: 0.3em;
        left: 68%;
        background-color: #7a418f;
      }
      i{
        color: #b33679;
      }
      img{
        margin: 0 auto;
      }
    }
    .item.logout{
      position: fixed;
      width: 100%;
      bottom: 1rem;
    }
    .item.icon_logo{
      padding: 1rem 0;
    }
    .btn_item{
      padding: 0.45rem;
      .ui.button{
        margin: 0;
        color: #ffffff;
        background-color: #b33679;
        padding: 0.56rem;
        font-size: 0.75em;
      }
    }
  }

}

.right_content{
  left: 11rem;//used when account sidebar is visible
  position: relative;
  height: 100%;
  margin: 0 !important;

  .column2{
    width: calc(100% - 11rem);//used when account sidebar is visible
    height: 100%;
    padding: 0 ;
    border-right : 1px solid #ddd;
    margin: 0;
    background: #ffffff;
    display: inline-block;
    position: relative;

     .dashboard_menu{
      background: #eaeaea;
      height: 55px;
      .search.item{
        width: 25%;
        input{
          width: 100%;
        }
      }
      .item:hover{
        background: inherit;
        i{
          color: #b33679;
        }
      }
      .setting_popup_content{
        border-radius: 10px;
        .ui.list{
          padding: 0.65rem;
          width: 10rem;
          .item{
            font-size: 0.875em;
            color: #000000;
          }
        }
      }
      .ui.input{
        padding-top: 7px;
        padding-bottom: 7px;
        input{
          //width: 100%;
          height: 2rem;
          border-radius: 10rem;
        }
      }
    }

    .contacts_top{
      margin: 0;
      padding: 1rem;
      background-color: #cccccc;
      vertical-align: middle;
      .contact_list{
        text-align: center;
      }
    }
    .contacts_content{
      margin: 0;
      position: relative;
      font-size: 1rem;
      display: block;
      overflow-y: auto;
      height: calc(100% - 55px);//full height minus topbar menu height
      .item{// makes a single contact
        padding-right: 1rem;
        padding-left: 1rem;
      }

      

      .all_contacts{//div that changes width when column3 is toggled
        display: inline-block;
        width: 100%;
        height: calc(100% - 100px);
        padding: 0;
        overflow-x: auto;
        //margin-top: 43px;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease;
      }
      .contact_list{
        width: 100%;
        padding: 10px 0;
        .item{
          margin: 0;
        }
        .c_name{
          width: 20%;
        }
        .c_quantitiy{
          width: 30%;
        }
        .c_save{
          width: 25%;
          text-align: center;
        }
        .c_delete{
          width: 25%;
          text-align: center;
        }
      }
    }
  }
}